.panel-container{
    width: 400px;
    border: 1px solid rgb(220,220,220);
    cursor: pointer;
}

.node-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.node-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 1px solid rgb(91,96,153);
    color: rgb(91, 96, 153);
    border-radius: 3px;
    max-width: 178px;
    width: 100%;
}

.text-area{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border-color: rgb(220, 220, 220);
    padding: 10px;
    box-sizing: border-box;
}

.setting-header{
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.setting-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    cursor: default;
}

h6{
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(128, 128, 128);
}